.add-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-book label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.add-name-details input {
    width: 100%;
    height: 3em;
}
