.add-book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    /* border: solid; */
    margin: 0 70% 0 30%;
}

.add-book label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
}

.add-name-details input {
    width: 100%;
    height: 3em;
    margin: 0.5em 0 0 2em;
}

.add-page-details input {
    height: 2em;
    margin-left: 1em;
}

.add-url-details input {
    width: 180%;
    height: 3em;
    margin: 0.5em 0 0 2em;
}

.required-symbol {
    color: red;
}

button {
    margin: 0 auto 0 auto;
    width: 7em;
    height: 3em;
}