.delete-book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 0 70% 0 30%;
}

.delete-book label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
}

.delete-book input {
    width: 70%;
    height: 3em;
    margin: 0.5em 0 0 2em;
}

.delete-book button {
    margin: 0 auto 0 auto;
    width: 7em;
    height: 3em;
    margin: 0 70% 0 30%;
}

.required-symbol {
    color: red;
}