#main {
    text-align: center;
}

.button-spacing {
    margin: 0px 5px 0px 5px;
}

.output {
    text-align: center;
}

.difficulty-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30%;
}

.node {
    border: 1px solid black;
    border-radius: 10px;
    background-color: darkblue;
    padding: 20px;
    margin: 15px;
    width: 10%;
    height: 40px;
    cursor: pointer;
}

.button-spacing {
    margin: 10px 10px 20px 10px;
}