#main {
    text-align: center;
}

.button-spacing {
    margin: 0px 5px 0px 5px;
}

.output {
    text-align: center;
}

.difficulty-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}