.dropdown-body {
    position: absolute;
    right: 24.5%;
    top: 15.3%;
    background-color: white;
    width: 130px;
    border-radius: 10px;
}

.dropdown-body li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.dropdown-button {
    cursor: pointer;
}