.item {
    display: inline-block;
    justify-content: left;
    text-align: center;
    border: solid 1px black;
    width: 25%;
    margin: 0em 0.25em 0.5em 0.25em;
    background-color: lightgrey;
}

.item img {
    height: 350px;
    width: 80%;
}

h4, h5, p {
    text-align: left;
    margin-left: 0.5em;
}