.main-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    border: solid 2px black;
    margin-top: -10px;
    padding: 5px 0 5px 0;
}

.main-nav a {
    margin: 0 10px 0px 10px;
}

.main-nav a:link {
    color: blue;
    text-decoration: none;
}

.main-nav a:visited {
    color: blue;
    text-decoration: none;
}

.main-nav a:hover {
    background-color: darkblue;
}

#home-aside {
    display: inline-block;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    border: solid 1px black;
}

.item {
    display: inline-block;
    align-items: flex-start;
    text-align: center;
    border: solid 1px black;
    width: 25%;
    margin: 0em 0.25em 0.5em 0.25em;
    background-color: lightgrey;
}

.item img {
    height: 350px;
    width: 80%;
}

h4, h5, p {
    text-align: left;
    margin-left: 0.5em;
}