.input-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 0 70% 0 30%;
}

.input-section label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
}

.name-input-section input{
    width: 100%;
    height: 3em;
    margin: 0.5em 0 0 2em;
}

.page-input-section input {
    height: 2em;
    margin-left: 1em;
}

.url-input-section input {
    width: 180%;
    height: 3em;
    margin: 0.5em 0 0 2em;
}

.required-symbol {
    color: red;
}

.input-section button {
    margin: 0 auto 0 auto;
    width: 7em;
    height: 3em;
}

/* To be MOVED */
.under-construction {
    border: solid 2px black;
    margin: 1em;
    background-image: url(../images/striped.webp);
}

.under-construction h3 {
    text-align: center;
    color: darkgray;
}